<div class= "container" div id="aboutustop">
  <center>
	<h1>MEET THE MEDICAL STAFF</h1>
  </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Dean W. Duke, MD</h2><br>
  <h5>Board Certified Dermatologist</h5>
 <p>
Dr. Duke received his undergraduate education at Utah State University in Logan, Utah.  He then received his medical doctorate from the Universtiy of Utah.  He subsequently completed an internship at Tripler Army Medical Center in Honolulu, Hawaii followed by a dermatology residency at Fitzsimmons Army Medical Center in Denver, Colorado. <br><br> He has served in the past as president of the Washington County Medical Society and for 19 years as the Vice Chairman of Dixie Regional Medical Center's Governing Board.  
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("duke.jpg")%>
  </div>
  <div id = "acreditations">
  <%=image_tag("AAD Logo.png")%>
  <%=image_tag("ASDS.jpg")%>
  <%=image_tag("UtahMedicalAssociation.jpg")%>
  <%=image_tag("UtahDermAssoc.jpg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus">
 <div class= "containerleft" id="aboutusbio">
  <h2>W. Bret Smith, MD</h2><br>
  <h5>Board Certified Dermatologist</h5>
 <p>
Dr. Smith received his undergraduate education at Brigham Young University in Provo, Utah.  He then completed his medical doctorate at the Medical College of Wisconsin.  Thereafter, he completed his internship at William Beaumont Army Medical Center in El Paso, Texas and his Dermatology residency at Brooke Army Medical Center in San Antonio, Texas.  
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("smith.jpg")%>
  </div>
  <div id = "acreditations">
  <%=image_tag("AAD Logo.png")%>
  <%=image_tag("ASDS.jpg")%>
  <%=image_tag("UtahMedicalAssociation.jpg")%>
  <%=image_tag("UtahDermAssoc.jpg")%>
  <%=image_tag("ASMS.png")%>
  <%=image_tag("ABD.jpg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Greg Jacobsen, MD</h2><br>
  <h5>Board Certified Dermatologist</h5>
 <p>
Dr. Jacobsen completed his undergraduate education at Brigham Young University in Provo, Utah.  He received his medical doctorate at the University on Toledo, in Ohio.  He subsequently completed his internship training at Intermountain Healthcare's LDS Hospital in Salt Lake City, Utah and completed a Dermatology residency at Geisinger Medical Center, in Danville Pennsylvania.  
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("greg.jpg")%>
  </div>
  <div id = "acreditations">
  <%=image_tag("AAD Logo.png")%>
  <%=image_tag("ASDS.jpg")%>
  <%=image_tag("UtahMedicalAssociation.jpg")%>
  <%=image_tag("UtahDermAssoc.jpg")%>
  <%=image_tag("ASMS.png")%>
  <%=image_tag("ABD.jpg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Tim Nowatzke, PA-C</h2>
  <h6>Board Certified Physicians Assistant</h6>
 <p>
Tim Nowatzke received his undergraduate education at Brigham Young University.  He then furthered his education with a Master's Degree as a Physician Assistant from the University of South Alabama.<br><br>Tim has been practicing with Southwest Skin and Cancer since 1998.  
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("tim.jpg")%>
  </div>
  <div id = "acreditations">
  <%=image_tag("NCCPA.png")%>
  <%=image_tag("SDPA.png")%>
  
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Scott Condie, PA-C</h2>
  <h6>Board Certified Physicians Assistant</h6>
 <p>
Scott Condie received his undergraduate degree and completed his Master's Degree as a Physician Assistant at the University of Utah in Salt Lake City, Utah.<br><br>
He has been a provider at Southwest Skin and Cancer since 1997.  
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("scott.jpg")%>
  </div>
  <div id = "acreditations">
  <%=image_tag("NCCPA.png")%>
  <%=image_tag("SDPA.png")%>
  
  </div>
 </center>
</div>



