<div class= "container" div id="aboutustop">
  <center>
	<h1>MEET THE STAFF</h1>
  </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Dr. Dean W. Duke</h2>
 <p>
Dr. Duke received his medical doctorate from the University of Utah College of Medicine. He completed an internship at Tripler Army Medical Center in Honolulu, Hawaii followed by residency at Fitzsimmons Army Medical Center College of Dermatology in Denver, Colorado.
<br><br>Dr. Duke has served more than 30 yaers in the military, including assignments in the Vietnam War and Desert Storm. He was the past president of the Washington County Medical Society and served as Vice Chairman of Dixie Regional Medical Center's Governing Board for 19 years.    
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("duke.jpg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus">
 <div class= "containerleft" id="aboutusbio">
  <h2>W. Bret Smith, M.D.</h2>
 <p>
Dr. Smith received his medical doctorate from the Medical College of Wisconsin. He completed an internship at William Beaumont Army Medical Center in El Paso, Texas and his Dermatology residency at Brooke Army Medical Center in San Antonio, Texas.<br><br>
Dr. Smith served eight years in the army. He is Board Certified in Dermatology and a Diplomate of the American Academy of Dermatology.    
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("smith.jpg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Greg Jacobsen, M.D.</h2>
 <p>
Dr. Jacobsen is a graduate of Brigham Young University, the University of Toledo, Ohio and Geisinger Medical Center, Pennsylvania.   
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("greg.jpg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Tim Nowatzke</h2>
  <h5>Physicians Assistant</h5>
 <p>
Tim Nowatzke received his Master's Degree as a Physician Assistant from the University of South Alabama.<br><br>
He graduated with his Bachelor's Degree in Sports Medicine from Brigham Young University where he had a scholarship to play football from 1991-1994.
Tim has been practicing with Southwest Skin and Cancer since August 1998.   
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("tim.jpg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Scott Condie</h2>
  <h5>Physicians Assistant</h5>
 <p>
Scott R. Condie, PA-C received his undergraduate degree from the University of Utah and completed his post-graduate training as a Physician Assistant ant the University of Utah School of Medicine.<br><br>
He was the recipient of the Physician Assistant Foundation Scholarship. He is certified by the NCCPA and is a member of multiple dermatology societies.He has been a provider at Southwest Skin & Cancer since 1997.  
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("scott.jpg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Jennifer Little</h2>
  <h5>Master Esthetician</h5>
 <p>
Jen has been a part of our Aesthetic Staff for several years now and her experience complements her skills when it comes to Aesthetics. Jen has had great success with helping patients find just the right product they need to look and feel healthier and younger.  
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("jen.jpg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Alisha Frei</h2>
  <h5>Master Esthetician</h5>
 <p>
Alisha Frei has been a part of our Aesthetic Staff for several years now.
 </p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="aboutusphotos">
   <%=image_tag("alisha.jpg")%>
  </div>
 </center>
</div>
