<div class= "container" div id="aboutustop">
   <center>
	<h2>Aesthetic Services</h2>
   
	<h5>For the best care anywhere.  Come see our dedicated staff of estheticians.  Walk-ins are welcome or simply schedule an appointment here.</h5><br>
	<a class="btn btn-large" href=/contact role="button">SCHEDULE AN APPOINTMENT</a><br><br><br>
   
  <div class= "container" id="aesthetic">
   <div id="alisha">
    <%=image_tag("jen.jpg")%>
    <h2>Jennifer Little</h2>
    <h5>Master Esthetician</h5>
   </div>
   <div id="eststaff">
    <%=image_tag("eststaff.JPG")%>
    <h2>Cosmetic Staff</h2>
   </div>
   <div id="jennifer">
    <%=link_to image_tag("alisha.jpg"),'/locations'%>
    <h2>Alisha Laidlaw</h2>
    <h5>Master Esthetician</h5>
   </div>
  </div>
 </center>
</div>
 
<div class= "container" div id="aestheticservices">
 <center>
  <h2>Services and Products Provided</h2>	
  
 </center>
</div>

<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Botox</h2>
 <p>
 Botox is a simple, non-surgical, physician-administered treatment that can temporarily smooth moderate to severe frown lines between the brows in people from 18 to 65 years of age. It is the only treatment of its type approved by the Food and Drug Administration (FDA).

One 10-minute treatment-a few tiny injections-and within days there's a noticeable improvement in those persistent lines between the brows, which can last up to 4 months. Results may vary.
</p>
 <br>

 <h2>Juvederm</h2>
 <p>
Juvéderm, an injectable filler (injectable facial filler), is used by cosmetic, dermatological, and plastic surgeons to soften deep folds and reduce wrinkles in the faces of patients.   Juvéderm’s prime use is removing nasolabial folds, or “smile lines,” creases of skin which run from the corners of the nose to the corners of the mouth. It is also used as a lip augmentation agent, and to fill in hollow places and scars on the face. However, all hyaluronic acid facial filler products are eventually absorbed by the body, usually within six to nine months, thus requiring follow visits to maintain the younger look. Juvéderm is also used by physicians to plump lips, which also lose fat and internal shape with normal aging.
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("botox1.jpeg")%>
   <%=image_tag("botox2.jpeg")%>
   <%=image_tag("juvederm1.jpeg")%>
  </div>
 </center>
</div>


<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Fraxel Laser Skin Treatments</h2>
 <p>
Until now, two varieties of laser treatment have been available for cosmetic enhancement-ablative and non-ablative. Ablative, which literally means to vaporize at a very high temperature, are very effective at destroying unwanted tissue but have significant side-effects and require a lengthy healing period. Non-ablative, on the other hand, have very few side-effects and require almost no healing time, but involve numerous treatments over many months to achieve only modest results.<br><br>

At long last, a laser with the potency of ablative treatments and the gentle safety of non-ablative lasers has won approval from the US Food and Drug Administration to treat a variety of important cosmetic conditions.<br><br>

Fraxel® Laser Treatment is designed to target aging and damaged skin by creating microscopic "wounds" within the targeted areas well beneath the skin's outermost layer. In this way, Fraxel® Laser treatments trigger the body's own natural production of new collagen and skin cells. And because Fraxel® Laser Treatment combines the impact of ablative lasers with the gentleness of non-ablative lasers, healing occurs so quickly that there is very little downtime for patients.

 </p>
 <br>
 <br><br>
  
<h2>Fraxel For Acne Scars</h2>
 <p>
 Anyone double-burdened with watching their teenage acne turn into adult acne scars knows the profound devastation this circumstance can have on self-esteem and life-outlook. Yet, every bit as profound is the utter transformation - physical and emotional - awaiting those who take advantage of a revolutionary change recently underway in cosmetic health.<br><br>

Acne scars form wherever acne advances to the point of injuring our tissue. These injuries arise as an inflammatory response to sebaceous follicles becoming plugged with oils, bacteria and dead cells. The result is the formation of a scar - that discolored fibrous tissue with abnormal collagen function that replaces our healthy skin. Successful treatment of a scar requires both the removal of damaged epidermal tissue and the stimulation of new collagen to improve the region's tone and texture.<br><br>	

Traditional approaches - topical agents, abrasion therapies, surgery and conventional lasers - either achieve only moderate results, or else destroy unacceptable amounts of healthy tissue along with the scar. The more effective techniques can also require a great deal of recovery time.<br><br>

A monumental breakthrough came only recently when the FDA approved Fraxel® Laser Treatment for acne scars after studies showed that the new laser could be far more effective than traditional therapies at both removing damaged tissue and inducing the formation of new collagen.   
 </p>
 <br>
 <br><br>
 <h2>Fraxel For Age Spots</h2>
 <p>
 Although the appearance of age spots might seem like an obvious indication of aging skin, they are instead our body's attempt to protect itself from sun exposure by overproducing melanin. Also called liver spots or sun spots, age spots are blemishes that range in color from dark yellow to black and locate themselves in exposed areas of the body, such as the face, hands, shoulders, arms or forehead.<br><br>

Even when harmless, these blotchy brownish patches pose a tough cosmetic challenge that can make us look and feel much older than our years.<br><br>

Conventional strategies for eliminating age spots include cryotherapy, acid washes, bleaches, pulsed light or traditional laser treatment. Too often such techniques will fade but not completely remove age spots.

The real breakthrough came recently when the FDA approved Fraxel Laser Treatment® for age spots after studies showed that the new laser could be far more effective than traditional therapies.
  
 </p>
 <br>
 <br><br>

<h2>Fraxel For Wrinkles</h2>
 <p>
  Wrinkles around the eyes, often called crow's feet, are categorized by doctors as dynamic wrinkles because they develop largely from years of contracting the muscles that display our emotions when we smile, squint, deeply consider, show surprise or laugh. If you've developed such wrinkles yourself, we're happy to hear that life has dealt you so many rich emotional experiences! Now, about those wrinkles.<br><br>

There are countless cosmetic strategies for reducing crow's feet-including acid peels, injectable fillers, collagen, dermabrasion or traditional laser treatment. These techniques can achieve moderately successful results for many patients.<br><br>

The real breakthrough came recently when the FDA approved Fraxel® Laser Treatment for wrinkles around the eyes after studies showed that the new laser could be far more effective than traditional therapies. 
  
 </p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <br><br><br>
   <%=image_tag("laserfraxal.jpeg")%>   
   <%=image_tag("laserfraxel2.jpeg")%>
   <br><br><br><br><br>
   <%=image_tag("fraxellaser3.jpeg")%> 
   <%=image_tag("laser1.jpeg")%>
   <%=image_tag("laser2.jpeg")%>
   <br><br>
   <%=image_tag("fraxelagespots2.jpeg")%>
   <%=image_tag("fraxelagespots3.jpeg")%>
   <br><br><br><br><br>
   <%=image_tag("fraxelwrinkles1.jpeg")%>
   <%=image_tag("fraxelwrinkles2.jpg")%>
  </div>
 </center>
</div>


<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Laser Hair Removal</h2>
 <p>
Laser hair removal uses a low-energy laser to gently remove unwanted hair. The laser energy passes through the skin and is absorbed by the pigment in the hair follicle. In a fraction of a second, many of the treated hair follicles are injured by the heat generated by the laser. Laser treatments can last anywhere from a few minutes to a few hours depending on the size of the area being treated. <br><br>With the exception of the region close to the eye, almost any area of the body with excess hair can be treated with lasers. The most common areas requested by patients are the face, upper lip, neck, chest, periareolar (breast region), underarms, back, abdomen, bikini line and legs.

 </p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("laser3.jpeg")%>
   <%=image_tag("laser4.jpeg")%>
   
  </div>
 </center>
</div>


<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Blinc</h2>
 <p>
Your lashes are exposed to the same environmental stresses as the rest of your body. Additional demands like continuous mascara application, curling, pulling and rubbing can lead to fewer and thinner lashes. Lash treatment is something that is often overlooked, yet your lashes play such an important role in how you look.<br><br>

blinc Lash Primer was developed with two objectives in mind, lash/eyebrow treatment and eyelash enhancement. Whether your lashes are tiny and require a larger base to work with, in need of conditioning or you are simply looking for incredible volume & length, blinc Lash Primer delivers. Developed by blinc to complement Kiss Me mascara, it provides a greater base of volume & length for your lashes, prior to applying your mascara.<br><br>

blinc Lash Primer is dye-free and does not contain any fumes or fragrances that will sting or irritate your eyes. Its anti-inflammatory and healing agents sooth and enhance the strength of your lashes/eyebrows while increasing their resistance to breakage. blinc Lash Primer is also enriched with Vitamin E which nourish by replenishing and augmenting the level of Vitamin B5 in your lashes/eyebrows. Together, your lashes/eyebrows are protected from damage caused by over-heating and/or over-drying, free radicals caused by the natural body process and environmental stresses like ultra-violet light.
</p>
 </div>
   <br><br><br><br>
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("blinc.gif")%>
   <%=image_tag("blinc2.jpeg")%>
  </div>
 </center>
</div>

<div class= "container">
 <div class= "containerleft" id="acne">
<h2>City Lips</h2>
 <p>
CITY Lips is different than any other lip plumper on the market. One-of-a-kind ingredients amplify natural collagen production to quickly increase volume and erase wrinkles, creating fuller, softer, youthful lips. CITY lips will not burn or irritate your lips, essential oils and vitamins soothe and protect lips.<br><br>

CITY Lips is simple and easy to use. Apply every night and during the daytime under your lip stick or alone for instant moisture, plump and shine.<br><br>

CITY Lips revolutionary formula does not contain animal or fish ingredients. Our treatments work safely and naturally with your body's chemistry to enhance your own collagen production.<br><br>

CITY Lips superior result will amaze you! 
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("citylips1.jpeg")%>
   <%=image_tag("citylips2.jpeg")%>
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>Desert Bloom</h2>
 <p>
Desert Bloom Skin Care Products were developed by K L. Perrins, a chemist and pharmacist with over 40 years experience. He lives and works in the desert retirement community of St. George, Utah. As a scientist, he was motivated by his desire to help the many people who were searching for something to counteract the aging effects of the hot, dry climate. After years of research and testing, he has created products containing glycolic acid that make your skin look and feel beautiful.<br><br>

What is glycolic acid? Glycolic acid is one of several natural alpha hydroxy acids (AHAs) and is found in sugar cane juice and in the nectar of honeysuckle flowers. For centuries Polynesian women have anointed their bodies with the sweet juice of the sugar cane plant, seeking the smooth, lustrous skin for which they are envied. For thousands of years beautiful women around the world have used various AHAs in their skin care. Cleopatra introduced the practice of bathing in soured milk to the women of Egypt, whose desert-dry skin became softer and more youthful-looking. Marie Antoinette encouraged the beauties of her court to rinse daily with the dregs left at the bottom of bottles containing red wine, knowing their skin would be kept fresh and clear of blemishes. Only recently have these "secret" ingredients come to the attention of the world of cosmetics, resulting in hundreds of products containing AHAs becoming available to the public.<br><br>

Alpha hydroxy acid formulations have proven to work wonders for the skin, yet are extremely safe and can be obtained without a prescription. 
</p>
 </div>
   <br><br><br><br><br><br>
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("desertbloom2.jpeg")%>
   <%=image_tag("desertbloom1.jpeg")%>
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>Fake Bake</h2>
 <p>
Fake Bake has scientifically created an organically based product to create the most natural looking tan without the harmful effects of UV rays. FAKE BAKE SELF-TANNING LOTION has two tanning agents plus new patent-pending technology that promotes a deeper darker tan that lasts up to 50% longer. Our self-tanning lotion has a cosmetic color guide which is a great tool to assure a streak-free application.
</p>
 </div>
   <br>
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("fakebake1.jpeg")%>
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>Kinerase</h2>
 <p>
Kinerase® is a skin care regimen proven to improve the appearance of skin aging with little or no irritation.<br><br>

When used daily, it helps you regain a more vibrant complexion by improving the visible signs of fine lines, blotchy skin, freckles, and wrinkles, without the use of surgical facial treatments. Kinerase uses kinetin,* a nature-identical cytokinin found in plants that helps visibly improve the appearance of the effects of the aging process and sun-damaged skin.
</p>
 </div>
   <br><br><br>
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("kinerase2.jpeg")%>
   
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>La Roche Posay</h2>
 <p>
La Roche Posay offers physician dispensed skincare daily skincare and in-office chemical peels formulated specifically for all skin conditions, even the most demanding. The formulations of La Roche-Posay are based on the only thermal spring water rich in selenium, a powerful antioxidant. These innovative formulas and textures promote comfort and dermatological efficacy proven in rigorous clinical studies to guarantee optimal tolerance for the most sensitive skin.
</p>
 </div>
   <br><br>
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("laroche1.jpeg")%>
   
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>Lip Fusion</h2>
 <p>
Lip Fusion's revolutionary, breakthrough formulas harness the clinically proven plumping powers of patented micro-injected™technology, making LipFusion the #1 selling lip plumper in America.The beauty-boosting benefits of dehydrated collagen and hyaluronic acid microspheres use your body’s natural water to deliver a fullout sexy, perfectly plump pout, instantly and painlessly, for up to 48 hours.<br><br>

Many products claim 'collagen' as a featured ingredient, when, in truth the collagen molecules are too large to penetrate the skin. LipFusion harnesses the clinically proven plumping and hydrating powers of new-patented marine collagen-filling spheres. This revolutionary technology dehydrates the collagen molecule into tiny microspheres in order to penetrate, or micro-inject, into the lips and then search for the body's natural water to re-hydrate, creating a beautifully natural, full-out pout.
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("lipfusion1.jpeg")%>
   <%=image_tag("lipfusion2.jpeg")%>
   
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>M.D. Forte</h2>
 <p>
Welcome to M.D. FORTÉ®, a comprehensive alpha-hydroxy acid (AHA) skin care system. Only M.D. FORTÉ® products offer the scientific advantage of combining glycolic acid (an AHA naturally found in sugar cane) with the process of partial neutralization. This allows us to create products with significantly higher concentrations of glycolic acid plus a pH closer to that of normal skin to help minimize irritation.<br><br>

We also offer several non-AHA products for more sensitive or vulnerable skin. So whatever your skin type, you can enjoy maximum results with less irritation with a personalized regimen to cleanse, renew, hydrate, and protect your skin.
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("mdforte1.jpeg")%>
   <%=image_tag("mdforte2.jpeg")%>

   
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>Prevage MD</h2>
 <p>
PREVAGE® MD anti-aging treatment contains idebenone 1%, scientifically shown to be the most powerful antioxidant available in a skin care product today.1 PREVAGE® MD protects your skin from environmental stressors known to cause skin aging including UV light, air pollution, ozone, and cigarette smoke.<br><br>

The antioxidative power of PREVAGE® MD anti-aging treatment has been shown to reduce the appearance of fine lines and wrinkles, as well as skin roughness and dryness, and to even skin tone to restore youthful-looking skin.
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("prevage1.jpeg")%>
   <%=image_tag("prevage2.jpeg")%>

   
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>SkinCeuticals</h2>
 <p>
To maintain and improve skin health, an effective skincare regime must contain three fundamental elements -- prevention, protection, and correction. At SkinCeuticals, our product philosophy and educational programs are built around these principles. Our line of advanced skincare products is designed to prevent future damage, protect healthy skin, and correct previous damage. At SkinCeuticals, achieving results means more than restoring youthful, radiant skin -- it means preventing serious skin conditions, like skin cancer.<br><br>

Our formulations are based on optimal concentrations of active ingredients elegantly crafted into functional products -- designed, formulated, and tested for effectiveness. We use pure, pharmaceutical grade ingredients with proven scientific results. Our entire skincare program works as a complete system for maximum improvement to skin health.
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("skinceuticals1.jpeg")%>
   <%=image_tag("skinceuticals2.jpeg")%>

   
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>Trend Skin</h2>
 <p>
Many great inventions and discoveries in the world were unintentional or just plain accidents. The story you are about to read concerning a breakthrough in the cosmetics field relates another great accidental discovery.<br><br>

In 1985, in an office in South Florida, a dentist was working on a patient. The patient was a private investigator. Medication was given to the patient to alleviate the pain associated with his treatment. Two days later, the patient noticed a dramatic improvement not only in the pain level, but in his skin as well. His face, which was full of razor bumps, had cleared up!<br><br>

The man couldn't wait to tell the dentist what had happened. Early the next morning, he visited the dentist's office. "Doc, Doc! What did you give me? What was it?" The dentist was scared. He thought something was wrong, "Doc! Look! Look! My face is cleared up! My razor bumps are gone!"<br><br>

The dentist, obviously confused, exclaimed, "What in the world are you talking about? What the heck are razor bumps?"<br><br>

The investigator began to tell the dentist how important this discovery was. He mentioned that the dozens of products already on the market did not come close to producing the dramatic results he had achieved.<br><br>

Realizing that the ingredient could not be taken internally for long periods of time, the two men experimented with the formula in an attempt to apply it directly to the skin. Eight long years of lab work, tests, and patents produced a very effective formula. The dentist had a great discovery.<br><br>

Other uses for the formula arose in the same "chance" way that the formula was discovered. Women who bought the product for their husbands or boyfriends started trying it on the perpetual ingrown hair problems they had from shaving, waxing, and having electrolysis on their legs, bikini lines, and underarms. Not only did they report to the dentist that the ingrown hair problems had cleared, but that the formula worked as an excellent underarm deodorant.<br><br>
</p>
 </div>
 </div>

<div class= "container">
 <center>
  <a class="btn btn-large" href=/contact role="button">SCHEDULE AN APPOINTMENT</a><br><br><br>
 </center>
</div>
