    


	<div class="container" id="carcap">
		
    <div id="myCarousel" class="carousel slide carousel-fade span6" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Carousel items -->
          
    <div class="carousel-inner">
    <div class="active item"><%=image_tag("pane1.jpg")%>
    </div>
    <div class="item"><%=image_tag("pane2.jpg")%></div>   
    <div class="item"><%=image_tag("pane3.jpg")%></div>
    <div class="item"><%=image_tag("pane6.jpg")%></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>




    <div id="captionbox">
     <h1>CARING FOR YOUR DERMATOLOGY NEEDS<h1>
     <p>Southwest Skin and Cancer offers the best and most advanced dermatology care around.  With our three locations and our excellent staff we make it easy to get the best dermatology and cosmetic care in southern Utah </p> 
    
     <a class="btn btn-large" href=/aboutus role="button">MEET THE STAFF</a>
      
    </div>
    
  </div>

<center>
    <div id= "contents">

        
       <a class="btn btn-large" href=/contact role="button">SCHEDULE AN APPOINTMENT</a>
       
    </div>
</center>


<center>
 <div id="double">
  <div id="socialmedia">
   <h5>FOLLOW US ON FACEBOOK</h5>
   <%=link_to image_tag("facebookorb.png"),'https://www.facebook.com/pages/Southwest-Skin-and-Cancer/161492220541050'%> 
  </div>

     <div id="services">
        <h2>THE MOST ADVANCED SKIN CARE SERVICES</h2>
        <div id="bluebuttons1">
        <%=link_to image_tag("squareblue.png"),skincancer_path%>
        <h5>Skin Cancer</h5>
        </div>

        <div id="bluebuttons2">
        <%=link_to image_tag("squareblue.png"),mohssurgery_path%>
        <h5>Mohs Surgery</h5>
        </div>

        <div id="bluebuttons3">
        <%=link_to image_tag("squareblue.png"),acne_path%>
        <h5>Acne</h5>
        </div>

        <div id="bluebuttons4">
        <%=link_to image_tag("squareblue.png"),moles_path%>
        <h5>Moles/Warts</h5>
        </div>

        <div id="bluebuttons5">
        <%=link_to image_tag("squareblue.png"),laser_path%>
        <h5>Laser</h5>
        </div>

        <div id="bluebuttons6">
        <%=link_to image_tag("squareblue.png"),botox_path%>
        <h5>Botox</h5>
        </div>

        <div id="bluebuttons7">
        <%=link_to image_tag("squareblue.png"),products_path%>
        <h5>Products</h5>
        </div>   
       
        
     </div>

   </div>
</center>
  
  <center>

    <div class="container" id="insurance">
        <h2>WE ACCEPT THE FOLLOWING INSURANCE PROVIDERS</h2>
      <%=image_tag("aetna.jpg")%>
      <%=image_tag("unitedhc.jpg")%>
      <%=image_tag("cignahc.jpg")%>
      <%=image_tag("humanahc.gif")%>
      <%=image_tag("bluecrosshc.jpeg")%>
      <%=image_tag("ihchc.png")%>
      <%=image_tag("altiushc.jpeg")%>
      <%=image_tag("selecthealthhc.jpeg")%>
      

    </div>

     
    
</center>



 








  
	 




