    


	<div class="container" id="carcap">
		
    <div id="myCarousel" class="carousel slide carousel-fade span6" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Carousel items -->
          
    <div class="carousel-inner">
    <div class="active item"><%=image_tag("pane1.jpg")%>
    </div>
    <div class="item"><%=image_tag("pane2.jpg")%></div>   
    <div class="item"><%=image_tag("pane3.jpg")%></div>
    <div class="item"><%=image_tag("pane6.jpg")%></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>




    <div id="captionbox">
     <h1>CARING FOR YOUR DERMATOLOGY NEEDS<h1>
     <p>alsdkjflksdjflk sjfslkdfj ;asl flksadjf;lk sdjf;lksj lkjadf ;asdlfj a;dlskfj a;dslkfj dflkjsad; flkjsadlkfj a;lsdkfjl asd;lfkjas;dlfkj a;sdlfkjasdflkj a;sdlfkjsd;fl jdslfkjs;dlfj </p> 
    
     <a class="btn btn-large" href=/aboutus role="button">MEET THE STAFF</a>
      
    </div>
    
  </div>

<center>
    <div id= "contents">

        
       <a class="btn btn-large" href=/contact role="button">SCHEDULE AN APPOINTMENT</a>
    </div>
</center>


<center>
 <div id="double">
  <div id="socialmedia">
   <h5>FOLLOW US ON SOCIAL MEDIA</h5>
   <%=link_to image_tag("socialmediaicons.jpg"),'href=https://www.facebook.com/pages/Southwest-Skin-and-Cancer/161492220541050'%> 
  </div>

     <div id="services">
        <h2>THE MOST ADVANCED SKIN CARE SERVICES</h2>
        <a class="button1" href=/skincancer role="button">Skin Cancer</a>
        <a class="button1" href=/acne role="button">Acne</a>
        <a class="button1" href=/mohssurgery role="button">Mohs Surgery</a>
        <a class="button1" href=/botox role="button">Botox</a>
        <a class="button1" href=/laser role="button">Laser</a>
        <a class="button1" href=/moles role="button">Moles/Warts</a>
     </div>

   </div>
</center>
  
  <center>

    <div class="container" id="insurance">
        <h2>WE ACCEPT THE FOLLOWING INSURANCE PROVIDERS</h2>
      <%=image_tag("aetna.jpg")%>
      <%=image_tag("unitedhc.jpg")%>
      <%=image_tag("cignahc.jpg")%>
      <%=image_tag("humanahc.gif")%>
      <%=image_tag("bluecrosshc.jpeg")%>
      <%=image_tag("ihchc.png")%>
      <%=image_tag("altiushc.jpeg")%>
      <%=image_tag("selecthealthhc.jpeg")%>
      

    </div>

     
    
</center>



 








  
	 




