<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Laser Skin Treatments</h2>
 <p>
Until now, two varieties of laser treatment have been available for cosmetic enhancement ablative and non-ablative. Ablative, which literally means to vaporize at a very high temperature, are very effective at destroying unwanted tissue but have significant side effects and require a lengthy healing period. Non-ablative, on the other hand, have very few side-effects and require almost no healing time, but involve numerous treatments over many months to achieve only modest results.<br><br>

At long last, a laser with the potency of ablative treatments and the gentle safety of non-ablative lasers has won approval from the US Food and Drug Administration to treat a variety of important cosmetic conditions.<br><br>

Fraxel® Laser Treatment is designed to target aging and damaged skin by creating microscopic "wounds" within the targeted areas well beneath the skin's outermost layer. In this way, Fraxel® Laser treatments trigger the body's own natural production of new collagen and skin cells. And because Fraxel® Laser Treatment combines the impact of ablative lasers with the gentleness of non-ablative lasers, healing occurs so quickly that there is very little downtime for patients.

 </p>
 <br>
 <br><br>
  
<h2>Lasers For Acne Scars</h2>
 <p>
 Anyone double-burdened with watching their teenage acne turn into adult acne scars knows the profound devastation this circumstance can have on self-esteem and life-outlook. Yet, every bit as profound is the utter transformation, physical and emotional, awaiting those who take advantage of a revolutionary change recently underway in cosmetic health.<br><br>

Acne scars form wherever acne advances to the point of injuring our tissue. These injuries arise as an inflammatory response to sebaceous follicles becoming plugged with oils, bacteria and dead cells. The result is the formation of a scar (that discolored fibrous tissue with abnormal collagen function that replaces our healthy skin). Successful treatment of a scar requires both the removal of damaged epidermal tissue and the stimulation of new collagen to improve the region's tone and texture.<br><br>  

Traditional approaches, topical agents, abrasion therapies, surgery and conventional lasers, either achieve only moderate results, or else destroy unacceptable amounts of healthy tissue along with the scar. The more effective techniques can also require a great deal of recovery time.<br><br>

A monumental breakthrough came only recently when the FDA approved Fraxel® Laser Treatment for acne scars after studies showed that the new laser could be far more effective than traditional therapies at both removing damaged tissue and inducing the formation of new collagen.     
 </p>
 <br>
 <br><br>
 <h2>Lasers For Age Spots</h2>
 <p>
 Although the appearance of age spots might seem like an obvious indication of aging skin, they are instead our body's attempt to protect itself from sun exposure by overproducing melanin. Also called liver spots or sun spots, age spots are blemishes that range in color from dark yellow to black and locate themselves in exposed areas of the body, such as the face, hands, shoulders, arms or forehead.<br><br>

Even when harmless, these blotchy brownish patches pose a tough cosmetic challenge that can make us look and feel much older than our years.<br><br>

Conventional strategies for eliminating age spots include cryotherapy, acid washes, bleaches, pulsed light or traditional laser treatment. Too often such techniques will fade but not completely remove age spots.

The real breakthrough came recently when the FDA approved Fraxel Laser Treatment® for age spots after studies showed that the new laser could be far more effective than traditional therapies.
  
 </p>
 <br>
 <br><br>

<h2>Lasers For Wrinkles</h2>
 <p>
  Wrinkles around the eyes, often called crow's feet, are categorized by doctors as dynamic wrinkles because they develop largely from years of contracting the muscles that display our emotions when we smile, squint, deeply consider, show surprise or laugh. If you've developed such wrinkles yourself, we're happy to hear that life has dealt you so many rich emotional experiences! Now, about those wrinkles.<br><br>

There are countless cosmetic strategies for reducing crow's feet including acid peels, injectable fillers, collagen, dermabrasion or traditional laser treatment. These techniques can achieve moderately successful results for many patients.<br><br>

The real breakthrough came recently when the FDA approved Fraxel® Laser Treatment for wrinkles around the eyes after studies showed that the new laser could be far more effective than traditional therapies.
  
 </p>

<br>
 <br><br>
  <h2>Laser Hair Removal</h2>
 <p>
Laser hair removal uses a low-energy laser to gently remove unwanted hair. The laser energy passes through the skin and is absorbed by the pigment in the hair follicle. In a fraction of a second, many of the treated hair follicles are injured by the heat generated by the laser. Laser treatments can last anywhere from a few minutes to a few hours depending on the size of the area being treated. <br><br>With the exception of the region close to the eye, almost any area of the body with excess hair can be treated with lasers. The most common areas requested by patients are the face, upper lip, neck, chest, periareolar (breast region), underarms, back, abdomen, bikini line and legs.

 </p>
 
   
 <center>
  <div class= "containerright" id="acnephotos">
   
   
  </div>
 </center>



  <br><br><br><br><br><br><br><h2>Lasers Offered at Southwest Skin and Cancer</h2><br><br><p>Fraxel Restore Laser<br><br>Intense Pulsed Light (IPL)<br><br>Vasculite Laser<br><br>Lightsheer Diode Hair Removal Laser
  
 </p>

 </div>


   
 
 <center>
  <div class= "containerright" id="acnephotos">
   <br><br><br>
   <%=image_tag("laserfraxal.jpeg")%>   
   <%=image_tag("laserfraxel2.jpeg")%>
   <br><br><br><br><br>
   <%=image_tag("fraxellaser3.jpeg")%> 
   <%=image_tag("laser1.jpeg")%>
   <%=image_tag("laser2.jpeg")%>
   <br><br>
   <%=image_tag("fraxelagespots2.jpeg")%>
   <%=image_tag("fraxelagespots3.jpeg")%>
   <br><br><br><br><br>
   <%=image_tag("fraxelwrinkles1.jpeg")%>
   <%=image_tag("fraxelwrinkles2.jpg")%>
   <br><br>
   <%=image_tag("laser3.jpeg")%>
   <%=image_tag("laser4.jpeg")%>
   <br><br>
   <%=image_tag("ipl.jpg")%>
   <%=image_tag("laser.gif")%>

  </div>

 </center>
</div>