<div class= "container" div id="aboutustop">
  <center>
	<h1>More Skin Conditions</h1>
  </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Eczema</h2>
 <p>
Eczema is a form of chronic inflammation of the skin.

The term eczema is broadly applied to a range of persistent skin conditions. These include dryness and recurring skin rashes that are characterized by one or more of these symptoms: redness, skin edema (swelling), itching and dryness, crusting, flaking, blistering, cracking, oozing, or bleeding. Areas of temporary skin discoloration may appear and are sometimes due to healed injuries. Scratching open a healing lesion may result in scarring and may enlarge the rash.<br><br>


Hand dermatitis (hand eczema) is particularly common. Hand rashes usually result from a combination of sensitive skin and irritation or an allergic reaction from materials touched. People with hand dermatitis often have dermatitis elsewhere, and frequently blood relatives have hand dermatitis. We all have a natural protective film of oil on our skin. If this film is removed by soaps, detergents, chemicals, or other substances, the skin can become dry and cracked. Further exposure to environmental irritants then causes redness and inflammation. Skin protection is an important part of treatment.
 <p>
 <br>
   </div>
 <center>
  <div class= "containerright" id="morephotos">
   <%=image_tag("eczemaarms.jpg")%>
   <%=image_tag("handeczema.jpg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Cold Sores</h2>
 <p>
Herpes simplex is commonly referred to as cold sores or fever blisters. It is a viral infection of the skin that may occur once or return again and again. This is due to the fact that when the virus is cleared from the skin by the immune system it hides in the nerves and is never completely removed from the body.<br><br> Herpes infections are very common. It is estimated that nine out of ten people have been exposed to herpes. Many people are infected and don’t even know it.  Herpes simplex begins as a group of small red bumps that blister. Sometimes this is preceded by itching and burning of the area. The blisters begin to dry up after a few days and form a yellow crust. The crust then falls off and the redness slowly goes away. The whole process takes about 10-14 days. Scars rarely form. Some people experience just some itching or burning in the area while most people have no symptoms at all.<br><br>

A drug called acyclovir is effective in treating herpes simplex. It must be taken by mouth and is regularly prescribed by dermatologists.
 <p>
 
   </div>
 <center>
  <div class= "containerright" id="morephotos">
   <%=image_tag("coldsore1.jpg")%>
   <%=image_tag("coldsore2.jpeg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Nail Fungus</h2>
 <p>
Onychomycosis is a fungal infection of the finger or toe nails which can be difficult to cure.

Onychomycosis is caused by a fungus. Often a person could have had athlete's foot for a long time prior to the development of onychomycosis.
Also, in some cases trauma or damage to a nail may contribute to the development of onychomycosis.<br><br>

Onychomycosis of the finger nails can be treated by taking a prescription medication called griseofulvin. Griseofulvin however, does come with side effects.
A new medication, terbinafine, is now available for the treatment of toe and finger nail fungal infections. Terbinafine is taken once a day for 6 to 12 weeks. This medication has fewer side effects than griseofulvin.<br><br>
Other topical treatments are also available.

 <p>
 
   </div>
 <center>
  <div class= "containerright" id="morephotos">
   <%=image_tag("toefungus.jpeg")%>
   <%=image_tag("fingerfungus.jpeg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Yeast Infections</h2>
 <p>
Candida or Monilia is a skin rash caused by a yeast living on normal skin of 80% of all people. In most people, the presence of this yeast on the skin is not visible. In some people, for unknown reasons, the yeast grows more actively and causes a red, itchy, scaling rash. The yeast likes warm moist areas and usually grows in the skin folds under the breast, stomach, and under arms.<br><br>

Most yeast can be treated with topical anti-yeast cream applied to the affected area twice a day followed by hydrocortisone cream (hydrocortisone 1% cream can be bought at the drug store without a prescription). These two medicines can be applied at the same time (okay to mix the two on the skin). The anti-yeast cream is only available with a prescription. Lotrimin however, is an anti yeast cream that is offered over the counter and works in many cases.<br><br>

Some doctors use prescription medications to treat this condition. We only use these methods for resistant cases because there are side effects.
 
 <p>
 
   </div>
 <center>
  <div class= "containerright" id="morephotos">
   <%=image_tag("yeast1.jpeg")%>
   <%=image_tag("yeast2.jpg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Shingles</h2>
 <p>
Shingles (herpes zoster) is a nerve infection caused by the chicken-pox virus. Shingles results from reactivation of the chicken-pox virus that remain in the body once a person has had chicken pox--perhaps many years ago. Herpes zoster (shingles) is caused by the chicken-pox virus. The rash of shingles begins as red patches that soon develop blisters, often on one side of the body. The blisters may remain small or can become large. They heal in two to four weeks. They may leave scars. Shingles is often painful, this is because the virus travels along the nerve to get to the skin resulting in inflammation and damage to the nerve.<br><br>

The prescription medication Acyclovir helps to control the skin eruption. It is not a cure, but helps to heal the rash, provided treatment is started early. Acyclovir is taken by mouth.
 
 <p>
 
   </div>
 <center>
  <div class= "containerright" id="morephotos">
   <%=image_tag("shingles.jpg")%>
   <%=image_tag("shingles2.jpeg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Rosacea</h2>
 <p>
Rosacea is a common face rash with adults.  Rosacea has three stages. In the first stage the face becomes red.  With time, small blood vessels develop making the redness more noticeable.  Many times in the first stage the skin can feel similar to a mild sunburn with the simple actions of smiling, frowning, or squinting.  In the second stage of rosacea, the redness covers a larger area of the face and slight swelling, along with pimples, and pustules develop. This is especially noticeable on the nose, mid-forehead, and chin. As the condition progresses, prominent facial pores can develop.  The third stage is characterized by swelling and growth of the nose and central facial areas. At times the ears may be involved as well. This can be very disfiguring. This stage is known as rhinophyma. Most patients do not progress to the third stage of rosacea.<br><br>

Common treatments include antibiotics such as MetroGel, MetroCream and sulfur preparations applied to the skin one to two times a day.  These treatments work well for many people with rosacea.
Retin-A is also an effective treatment and can decrease the small blood vessels.
 
 <p>
 
   </div>
 <center>
  <div class= "containerright" id="morephotos">
   <%=image_tag("rosacea1.jpeg")%>
   <%=image_tag("rosacea2.jpeg")%>
  </div>
 </center>
</div>


<div class= "container" div id="aboutus"> 
 <div class= "containerleft" id="aboutusbio">
  <h2>Vitiligo</h2>
 <p>
Vitiligo is a common skin disorder in which white spots appear on the skin usually occurring on both sides of the body in the same location.  Vitiligo occurs in 1-2% of the population. It affects both sexes, all races and all ages. The skin is made up of two main types of cells or building blocks, keratinocytes and melanocytes. The keratinocytes make up the bulk of the skin. The melanocytes are the cells that make the skin color. In people with vitiligo, the immune cells (cells which fight infection) attack the melanocytes and kill them. When the melanocytes in a certain area die the skin turns white. No one knows why the immune cells attack the melanocytes in people with vitiligo. Patients with vitiligo are sensitive to free radicals and need aggressive vitamin therapy.  Vitiligo sometimes occurs at the site of an old injury. Most people have slow progression of their disease. In some people the problem will disappear by itself. To treat:<br><br>

Patients with vitiligo should take a B-complex multivitamin each day, as well as folic acid 1 mg, Vitamin E 600 – 800 IU, and ascorbic acid 1000 mg a day.
Vitamin D ointment by prescription can help some people with vitiligo.
Tacrolimus ointment .1% for 6 months will help many people with vitiligo.  This medication also requires a prescription.
Topical cortisone ointments by prescription can treat many cases of vitiligo.
 
 <p>
 
   </div>
 <center>
  <div class= "containerright" id="morephotos">
   <%=image_tag("vitiligo1.jpeg")%>
   <%=image_tag("vitiligo2.jpeg")%>
  </div>
 </center>
</div>




