



 


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>Fake Bake</h2>
 <p>
Fake Bake has scientifically created an organically based product to create the most natural looking tan without the harmful effects of UV rays. FAKE BAKE SELF-TANNING LOTION has two tanning agents plus new patent-pending technology that promotes a deeper darker tan that lasts up to 50% longer. Our self-tanning lotion has a cosmetic color guide which is a great tool to assure a streak-free application.
</p>
 </div>
   <br>
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("fakebake1.jpeg")%>
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>Kinerase</h2>
 <p>
Kinerase® is a skin care regimen proven to improve the appearance of skin aging with little or no irritation.<br><br>

When used daily, it helps you regain a more vibrant complexion by improving the visible signs of fine lines, blotchy skin, freckles, and wrinkles, without the use of surgical facial treatments. Kinerase uses kinetin,* a nature-identical cytokinin found in plants that helps visibly improve the appearance of the effects of the aging process and sun-damaged skin.
</p>
 </div>
   <br><br><br>
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("kinerase2.jpeg")%>
   
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>La Roche Posay</h2>
 <p>
La Roche Posay offers physician dispensed skincare daily skincare and in-office chemical peels formulated specifically for all skin conditions, even the most demanding. The formulations of La Roche-Posay are based on the only thermal spring water rich in selenium, a powerful antioxidant. These innovative formulas and textures promote comfort and dermatological efficacy proven in rigorous clinical studies to guarantee optimal tolerance for the most sensitive skin.
</p>
 </div>
   <br><br>
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("laroche1.jpeg")%>
   
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>Lip Fusion</h2>
 <p>
Lip Fusion's revolutionary, breakthrough formulas harness the clinically proven plumping powers of patented micro-injected™technology, making LipFusion the #1 selling lip plumper in America.The beauty-boosting benefits of dehydrated collagen and hyaluronic acid microspheres use your body’s natural water to deliver a fullout sexy, perfectly plump pout, instantly and painlessly, for up to 48 hours.<br><br>

Many products claim 'collagen' as a featured ingredient, when, in truth the collagen molecules are too large to penetrate the skin. LipFusion harnesses the clinically proven plumping and hydrating powers of new-patented marine collagen-filling spheres. This revolutionary technology dehydrates the collagen molecule into tiny microspheres in order to penetrate, or micro-inject, into the lips and then search for the body's natural water to re-hydrate, creating a beautifully natural, full-out pout.
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("lipfusion1.jpeg")%>
   <%=image_tag("lipfusion2.jpeg")%>
   
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>M.D. Forte</h2>
 <p>
Welcome to M.D. FORTÉ®, a comprehensive alpha-hydroxy acid (AHA) skin care system. Only M.D. FORTÉ® products offer the scientific advantage of combining glycolic acid (an AHA naturally found in sugar cane) with the process of partial neutralization. This allows us to create products with significantly higher concentrations of glycolic acid plus a pH closer to that of normal skin to help minimize irritation.<br><br>

We also offer several non-AHA products for more sensitive or vulnerable skin. So whatever your skin type, you can enjoy maximum results with less irritation with a personalized regimen to cleanse, renew, hydrate, and protect your skin.
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("mdforte1.jpeg")%>
   <%=image_tag("mdforte2.jpeg")%>

   
  </div>
 </center>
 </div>


 


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>SkinCeuticals</h2>
 <p>
To maintain and improve skin health, an effective skincare regime must contain three fundamental elements -- prevention, protection, and correction. At SkinCeuticals, our product philosophy and educational programs are built around these principles. Our line of advanced skincare products is designed to prevent future damage, protect healthy skin, and correct previous damage. At SkinCeuticals, achieving results means more than restoring youthful, radiant skin -- it means preventing serious skin conditions, like skin cancer.<br><br>

Our formulations are based on optimal concentrations of active ingredients elegantly crafted into functional products -- designed, formulated, and tested for effectiveness. We use pure, pharmaceutical grade ingredients with proven scientific results. Our entire skincare program works as a complete system for maximum improvement to skin health.
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("skinceuticals1.jpeg")%>
   <%=image_tag("skinceuticals2.jpeg")%>

   
  </div>
 </center>
 </div>


 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>Trend Skin</h2>
 <p>
Many great inventions and discoveries in the world were unintentional or just plain accidents. The story you are about to read concerning a breakthrough in the cosmetics field relates another great accidental discovery.<br><br>

In 1985, in an office in South Florida, a dentist was working on a patient. The patient was a private investigator. Medication was given to the patient to alleviate the pain associated with his treatment. Two days later, the patient noticed a dramatic improvement not only in the pain level, but in his skin as well. His face, which was full of razor bumps, had cleared up!<br><br>

The man couldn't wait to tell the dentist what had happened. Early the next morning, he visited the dentist's office. "Doc, Doc! What did you give me? What was it?" The dentist was scared. He thought something was wrong, "Doc! Look! Look! My face is cleared up! My razor bumps are gone!"<br><br>

The dentist, obviously confused, exclaimed, "What in the world are you talking about? What the heck are razor bumps?"<br><br>

The investigator began to tell the dentist how important this discovery was. He mentioned that the dozens of products already on the market did not come close to producing the dramatic results he had achieved.<br><br>

Realizing that the ingredient could not be taken internally for long periods of time, the two men experimented with the formula in an attempt to apply it directly to the skin. Eight long years of lab work, tests, and patents produced a very effective formula. The dentist had a great discovery.<br><br>

Other uses for the formula arose in the same "chance" way that the formula was discovered. Women who bought the product for their husbands or boyfriends started trying it on the perpetual ingrown hair problems they had from shaving, waxing, and having electrolysis on their legs, bikini lines, and underarms. Not only did they report to the dentist that the ingrown hair problems had cleared, but that the formula worked as an excellent underarm deodorant.<br><br>
</p>
 </div>
 </div>

 <div class= "container">
 <div class= "containerleft" id="acne">
<h2>Other Products</h2>
 <p>
Blue Lizard Sunscreen<br><br>CeraVe<br><br>Elta MD<br><br>K.L. Perkins<br><br>Neostrata<br><br>Pro Therapy<br><br>Solar Protection Formula<br><br>Vivete<br><br>Zymaderm
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("eltamd.jpg")%>
   <%=image_tag("Products_CeraVe_Large.jpg")%>

   
  </div>
 </center>
 </div>

